#filter_map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.three_filters{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    z-index: 2;
}
button {
    background-color: white;
}
.middlepartButton {
    user-select: none;
    pointer-events: none;
}
.options {
    margin-top: 5px;
}
.filternameOutterDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 260px;
    height: 20px;
    margin-top: 10px;
}
.filternameInnerDiv{
    margin-bottom: 0;
}
.filterNameParagraph{
    font-size: 14px;
    text-align: left;
    color: grey;
}
span {
    font-weight: 500;
}
/* FILTERS FOR GEOGRAPHY----------------------------------------------------*/
.filters_geography {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    left: -50px;
    top: -50px;
    background-color: white;
    border: 1px solid #959595;
    border-radius: 5px;
    height: 600px;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    
}

.search-bar_geography {
    margin-right: 7px;
    width: 270px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.option_geography {
    display: flex;
    justify-content: space-between;
    gap: 99px;
    flex-direction: row-reverse;
}

.option_geography span{
    order: 1;
    font-size: 10px;
    padding-top: 8px;
}
.button-group_geography {
    order: 2;
}

.option_geography button {
    font-size: 9px;
    cursor: pointer;
    border: none; /* Remove button border */
    outline: none; /* Remove button focus outline */
    
}

.filter-list_geography {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 5px;
    
}

.filter_geography {
    background-color: #4CAF50;
    font-size: 10px;
    color: white;
    border-radius: 15px; /* Rounded corners for filters */
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;  
    height: 25px; 
}

.filter-remove_geography {
    margin-left: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

/* FILTERS FOR COMPANY HEADCOUNT----------------------------------------------------*/
.filters_headcount {
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    position: relative;
    left: -50px;
    top: -50px;
    background-color: white;
    border: 1px solid #959595;
    border-radius: 5px;
    height: 600px;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    
}

.search-bar_headcount {
    margin-right: 7px;
    width: 270px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.option_headcount {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-direction: row;
}

.option_headcount span{
    order: 1;
    font-size: 10px;
    padding-top: 8px;
}
.button-group_headcount {
    order: 2;
}

.option_headcount button {
    font-size: 9px;
    cursor: pointer;
    border: none; /* Remove button border */
    outline: none; /* Remove button focus outline */
    
}

.filter-list_headcount {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 5px;
}

.filter_headcount {
    background-color: #4CAF50;
    font-size: 10px;
    color: white;
    border-radius: 18px; /* Rounded corners for filters */
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 25px;
}

.filter-remove_headcount {
    margin-left: 5px;
    cursor: pointer;
}

/* FILTERS FOR FUNCTION----------------------------------------------------*/
.filters_function {
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    position: relative;
    left: -50px;
    top: -50px;
    background-color: white;
    border: 1px solid #959595;
    border-radius: 5px;
    height: 600px;
    width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    
}

.search-bar_function {
    margin-right: 7px;
    width: 270px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.option_function {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row-reverse;
}

.option_function span{
    order: 1;
    font-size: 10px;
    padding-top: 8px;
}
.button-group_function {
    order: 2;
}

.option_function button {
    font-size: 9px;
    cursor: pointer;
    border: none; /* Remove button border */
    outline: none; /* Remove button focus outline */
    
}

.filter-list_function {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px; 
    gap: 5px;
}

.filter_function {
    background-color: #4CAF50;
    font-size: 10px;
    color: white;
    border-radius: 18px; /* Rounded corners for filters */
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    height: 25px;
}

.filter-remove_function {
    margin-left: 5px;
    cursor: pointer;
}