body {
    background-color: #f4f4f4;
}

.content-filter-map-subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    margin-top: -1rem;
}

#filter_map{
    max-height: 26rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.map-container{
    position: relative;
    transform: scale(0.5);
    /* margin: -500px; */
    padding: -50%;
    margin: -35rem;
}

.three_filters {
    position: relative;
    margin-top: 4.7rem;
    margin-left: -14rem;
}

.filters-data-update {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.above-map-paragraph {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#filters-data-update_paragraph {
    text-align: center;
}

#filters-data-update_paragraph span{
    color: rgb(74, 57, 254);
}

.filters{z-index: 2;}
