/* BOOTSTRAP DEFAULT MARGIN/PADDING PARAMETERS */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
input,
button,
textarea,
select {
  margin: 0;
}


.backchanneling_button {
    border: none; 
    border-radius: 100px; 
    background-color: rgb(74, 57, 254); 
    color: white;
    padding: 12px 0px;
    align-items: center;
    width: 11rem;
    height: 3rem;
    /*w180 h50*/

}
/* ELEMENTS ARE NOT SELECTABLE */
.nav-link, 
.image_anchor img,
.image_anchor p {
    text-decoration: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/*------------------------------------------------------------------------------------------------------- NORMAL NAVBAR */

.navbar_normal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25%;
    margin-top: 1vh;
}
  
  .navbar_normal_list {
    list-style-type: none;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

 /* HOVER */
.navbar_normal_list a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
    border-bottom: 2px solid transparent;
}

.navbar_normal_list li a:hover {
    color: purple;
    opacity: 1;
    border-bottom: 2px solid purple;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
}

.linkedin_signin {
    border: none;
    border-radius: 30px;
    background-color: #f4f4f4;
    margin-top: -5px;
}

/*------------------------------------------------------------------------------------------------------- ADMIN NAVBAR */

.navbar_admin {
    background-color: rgb(107, 74, 253);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16%;   
    height: 4rem;
}

.navbar_admin_list {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.navbar_admin_list .ul {
    list-style: none;
  }
  
.navbar_admin_list li {
    display: inline-block;
}
.navbar_admin_list a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
}
.navbar_admin_list li a:hover,
.navbar_admin_list li a:active {
    color: white;
    border-bottom: 2px solid white;     
}
.navbar_admin_list li a:visited{
    color: white;
    border-bottom: 2px solid white;
}

/*-----------ADMIN CREDITS/*-----------*/

.admin_credits {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.admin_credits img {
    height: 1rem; 
    width: 1rem;
    background: transparent;
    color: white;
}


/*-----------ADMIN NAVBAR PROFILE IN THE END*/
.admin_profile_name {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    padding-right: 2rem;
}
.image_anchor {
    border: none; 
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-decoration: none; 
}
.image_anchor img{
    height: 1.5rem; 
    width: 1.5rem;
    background: transparent;
    color: white;
}
.image_anchor p{
    color: white;   
}

/*------------------------------------------------------------------------------------------------------- USER SETTINGS NAVBAR */

.navbar_user_settings{
    background-color: #f4f4f4; 
    display: flex;
    justify-content: left;
    align-items: center;
}

.navbar_user_settings_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
}

.navbar_user_settings_list .ul {
    list-style: none;
  }
  
.navbar_user_settings_list li {
    display: inline-block;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}


/*------------------------------- VISIBILITY */
.admin_visibility {
    /* opacity: 0;
    pointer-events: none; */
}