* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .below_map span {
    color: rgb(74, 57, 254);
  }

  .hidden{
    display: none;
  }
  

.all-testimonials {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;

}
.testimonials {
    padding: 40px 0;
    background: #f4f4f4;
    color: #434343;
    text-align: center;
}

.inner-testimonials {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border-testimonials {
    width: 160px;
    height: 5px;
    background: rgb(74, 57, 254);
    margin: 26px auto;
}

.row-testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}

.col-testimonials {
    flex: 0 0 33.33%; 
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #fff;
    padding: 30px;
    width: 330px;
    height: 500px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.logo-footer {
    background-color: #fff;
}

.logo-footer > span img {
    width: 30%;
    height: 30%;
}

.slider-container {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.pricing {
    font-size: 16px;
    color: #7044ff;
    margin-bottom: 10px;
}

.pricing1 {
    font-size: 32px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
}

.pricing2 {
    font-size: 12px;
    color: #777;
    margin-bottom: 20px;
}

/* PRICE SLIDER BUBBLE CSS */

.slider-wrapper {
    position: relative;
    width: 100%;
}

.slider-bubble {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #7044ff;
    color: #fff;
    padding: 8px;
    border-radius: 15px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    opacity: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out;
}

.slider-container:hover .slider-bubble,
.slider-bubble.active {
    opacity: 1;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #ffcc29, #7044ff); 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #7044ff;
    border: 2px solid #7044ff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.slider:hover::-webkit-slider-thumb {
    background: #ffcc29; 
}


.slider-container {
    width: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.pricing-container {
    display: flex;
    margin-bottom: 5px;
}

.image-container img{
    float: left;
    border-radius: 20px;
}

.basic-container {
    justify-content: left;
    align-items: center;
    float: left;
}

.for-individuals {
    font-size: 16px;
    color: #8c8c8c;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bolder;
    justify-content: left;
    margin-top: 12px;
}

.basic {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: -65px;
    font-weight: bolder;
    color: #25254e;
}

.img-basic {
    display: flex;
    flex-direction: row;
}

#credits {
    font-size: 18px !important;
    font-weight: bold !important;
    margin-top: 20px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #25254e;
    visibility: hidden;
}

#companyOffer{
    margin-top: -15px;
    margin-bottom: 20px;
}
  
.get-started-button {
    width: 80%;
    padding: 14px 0;
    background: rgb(74, 57, 254); 
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 40px;
    margin-left: 100px;
    cursor: pointer;
    transition: background 0.5s;
    bottom: 20px; 
    transform: translateX(-50%);
}

.get-started-button:hover {
    background: #7044ff;
}

.included {
    flex: 1;
    padding: 20px;
    background-color: #f8f8f8;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.included p {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    color: #333;
    font-weight: bold;
    color: #25254e;
}

.included li {
    display: flex;
    align-items: left;
    margin: 10px;
}

.included li::before {
    color: #e33058;
    font-weight: bold;
    margin-right: 8px;
}

.success-checkmark img {
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 3px;
}

/* FOOTER CSS*/

.all-footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #e9cdf6;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 30px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
      border-radius: 30px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b3b3b3; 
      border-radius: 30px;
  
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a5a5a5; 
      border-radius: 30px;
  
  }