.all {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
    
}
.testimonials {
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}

.row {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #fff;
    padding: 30px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.all_container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

.price-container {
    width: 100%;
    min-height: 100vh;
    background: #e5c8ff;

}

.price-container h2 {
    color: #fff;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
}

.credit-row {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}
.credit-col {
    background: #2d1f3b;
    padding: 10% 15%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.credit-col h3 {
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
}

.credit-col p {
    font-size: 22px;
}

.credit-col h3 span {
    font-size: 16px;
}

.credit-col ul {
    text-align: left;
    margin: 20px 0;
    color: #ddd;
    list-style: none;
}

.credit-col ul li {
    margin: 15px 0;
}

.credit-col ul li::before {
    content: '\2022';
    color: #e33058;
    font-weight: bold;
    margin-right: 8px;
}

.credit-col button {
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 1s;
}

.credit-col button:hover {
    background: #e33058;
}

.all-footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #e9cdf6;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}
