/* PAGE CONTAINER */
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    }

.two-introduction-titles {
    display: inline-flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    gap: 100%;
    text-decoration: underline;
}

/* BIG BOLD SPAN */
.introductions-title,
.introductions-name {
    white-space: nowrap;
    justify-self: flex-start;
    font-family: 'Arial Black', 'Helvetica Neue Bold', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* small little span */
.introductions-function,
.introductions-current-highlighted,
.introductions-others {
    white-space: nowrap;
    font-size: 12px;
}

.introductions-current-highlighted {
    color: purple;
    text-decoration: underline;
}
/* CONTAINER FOR ROW MODULE */
.introductions-rows {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2rem;
}

/* ROW MODULE   [ introduction-asked ] + [ you introduced ] */
.introductions-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 15rem;
}

/* LEFT SIDE */
.introductions-asked {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5rem;
}

/* RIGHT SIDE */
.you-introduced {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* IMAGE NAME FUNCTION CONTAINER  inside [ introductions-asked ] */
.introductions-user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

/* CONTAINS THE NAME AND THE FUNCTION OF THE USER inside [ introductions-user-details ] */
.introductions-name-function {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.introductions-pfp {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

/* LIST MODULE ["John Smith, +12 Others"] */ 
.introductions-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-self: flex-end;
}

.introductions-message-button { 
    display: inline-block;
  padding: 6px 12px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(107, 74, 253);
  color: #fff;
  transition: background-color 0.3s ease;
}