.lists-container {

}

/*======== TABLE ==========*/

.lists-table-div {
    margin: 0px;  
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  
  .lists-table-content th, .lists-table-content td {
      width: 225px;
      text-align: center;
      padding: 20px;
      border: none;
      font-size: 13px;
  
      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
    }
    
    .lists-table-content {
      table-layout: fixed;
      width: 800px;
      margin: 0px;
      padding: 0px;
  
      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
    }
  
  .lists-new-result-text {
        color: rgb(78, 204, 78);
    }

    .lists-edit-delete-button-group {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .list-side-button {
      border-radius: 20px;
      height: 40px;
      width: 70px;
    }

/* Modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Could be more or less, depending on screen size */
  height: 400px;
  position: relative; /* For positioning the close button */
  border-radius: 10px;
}

/* Close button */
.close {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form container */
.form-container {
  text-align: center;
}

/* Button container */
.button-container {
  margin-top: 20px;
}

/* Styling for OK and Cancel buttons */
#okBtn,
#cancelBtn {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

#okBtn:hover,
#cancelBtn:hover {
  background-color: #45a049;
}

    /* Styling for modal */
.modal-dialog {
  max-width: 800px; /* Set max width to control the width of the modal */
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-bottom: none; /* Remove border bottom */
}

.modal-title {
  font-weight: bold;
}

.modal-body {
  padding-top: 20px;
}

/* Center buttons */
.modal-footer {
  justify-content: center;
}

/* Styling for OK and Cancel buttons */
#okBtn {
  margin-right: 10px; /* Add margin between buttons */
}
