
body{
    overflow-x: hidden;
    background-color: rgb(245, 245, 245);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/*======== SEARCH ==========*/

.search-container{
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
/*======== FILTERS BUTTON CONTAINER ==========*/

.filters-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -20rem;
    margin-top:  1.25rem;
    margin-left: -1rem;
}

/*======== TABLE ==========*/

.search-table-div {
  margin: 0px;  
  padding: 0px;
  margin-left: -21rem;
}

.search-table-content th, .search-table-content td {
    width: 150px;
    text-align: center;
    padding: 20px;
    border: none;
    font-size: 13px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
  
  .search-table-content {
    table-layout: fixed;
    width: 800px;
    margin: 0px;
    padding: 0px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

.search-table-content th {
  background-color: rgb(245, 245, 245);
}

.search-table-content tr:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.search-table-content tr:hover {
    background-color: rgb(216, 216, 216);
}

.hidden{
    display: none;
}

.save-to-list {
    background-color: #4CAF50; 
    color: white; 
    padding: 5px 10px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 14px;
    margin-bottom: -30px;
    margin-left: 20px;
    position: relative;
  }
  
  .save-to-list:hover {
    background-color: #45a049; 
  }