
body{
    overflow-x: hidden;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/*======== SEARCH ==========*/

.search_container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
/*======== FILTERS BUTTON CONTAINER ==========*/

.filters-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -21rem;
    margin-top:  1.25rem;
}

/*======== TABLE ==========*/

.table_div {
  margin: 0px;  
  padding: 0px;
  margin-left: -21rem;
}

.search_table th, .search_table td {
    width: 150px;
    text-align: center;
  }
  
  .search_table {
    table-layout: fixed;
    width: 800px;
    margin: 0px;
    padding: 0px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
  

th, td {
    width: 300px;
    padding: 20px;
    text-align: center;
    border: none;
    font-size: 13px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

th {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #f2f2f2;
}

.hidden{
    display: none;
}

.save-to-list {
    background-color: #4CAF50; 
    color: white; 
    padding: 5px 10px; 
    border: none;
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 14px;
    margin-bottom: -30px;
    margin-left: 20px;
    position: relative;
  }
  
  .save-to-list:hover {
    background-color: #45a049; 
  }