<link rel="stylesheet" href="css/flters.css">

<div class="three_filters">
    <!--Filters for G E O G R A P H Y-->
        <div class="filters_geography">
            <div class="filternameOutterDiv"><div class="filternameInnerDiv"><p class="filterNameParagraph">Geography</p></div></div>
            <div class="filter-list_geography">
                <!-- Filter options will be added here -->
            </div>
            <input type="text" class="search-bar_geography" placeholder="Search...">
            <div class="options">
                <div class="option_geography">
                    <span tabindex="-1">Oceania</span>
                    <div class="button_group_geography">        
                        <button class="include_geography" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_geography">
                    <span tabindex="-1">EMEA</span>
                    <div class="button_group_geography">        
                        <button class="include_geography" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_geography">
                    <span tabindex="-1">DACH</span>
                    <div class="button_group_geography">        
                        <button class="include_geography" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_geography">
                    <span tabindex="-1">North America</span>
                    <div class="button_group_geography">        
                        <button class="include_geography" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_geography">
                    <span tabindex="-1">Benelux</span>
                    <div class="button_group_geography">        
                        <button class="include_geography" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_geography">
                    <span tabindex="-1">APJ</span>
                    <div class="button_group_geography">        
                        <button class="include_geography" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_geography">
                    <span tabindex="-1">APAC</span>
                    <div class="button_group_geography">        
                        <button class="include_geography" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_geography">
                    <span tabindex="-1">Asia</span>
                    <div class="button_group_geography">        
                        <button class="include_geography" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_geography">
                    <span tabindex="-1">Nordics</span>
                    <div class="button_group_geography">        
                        <button class="include_geography" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_geography">
                    <span tabindex="-1">MENA</span>
                    <div class="button_group_geography">        
                        <button class="include_geography" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_geography">
                    <span tabindex="-1">Europe</span>
                    <div class="button_group_geography">        
                        <button class="include_geography" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_geography">
                    <span tabindex="-1">Africa</span>
                    <div class="button_group_geography">        
                        <button class="include_geography" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_geography">
                    <span tabindex="-1">South America</span>
                    <div class="button_group_geography">        
                        <button class="include_geography" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                    </div>
                </div>
            </div>
        </div>
    <!--Filters for COMPANY H E A D C O U N T -->
        <div class="filters_headcount">
            <div class="filternameOutterDiv"><div class="filternameInnerDiv"><p class="filterNameParagraph">Headcount</p></div></div>
            <div class="filter-list_headcount">
                <!-- Filter options will be added here -->
            </div>
            <input type="text" class="search-bar_headcount" placeholder="Search...">
            <div class="options">
                <div class="option_headcount">
                    <span tabindex="-1">Self-employed</span>
                    <div class="button-group_headcount">        
                        <button class="include_headcount" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_headcount" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_headcount">
                    <span tabindex="-1">1-10</span>
                    <div class="button-group_headcount">        
                        <button class="include_headcount" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_headcount" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_headcount">
                    <span tabindex="-1">11-50</span>
                    <div class="button-group_headcount">        
                        <button class="include_headcount" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_headcount" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_headcount">
                    <span tabindex="-1">51-200</span>
                    <div class="button-group_headcount">        
                        <button class="include_headcount" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_headcount" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_headcount">
                    <span tabindex="-1">201-500</span>
                    <div class="button-group_headcount">        
                        <button class="include_headcount" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_headcount" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_headcount">
                    <span tabindex="-1">501-1,000</span>
                    <div class="button-group_headcount">        
                        <button class="include_headcount" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_headcount" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_headcount">
                    <span tabindex="-1">1,001-5,000</span>
                    <div class="button-group_headcount">        
                        <button class="include_headcount" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_headcount" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_headcount">
                    <span tabindex="-1">5,001-10,000</span>
                    <div class="button-group_headcount">        
                        <button class="include_headcount" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_headcount" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_headcount">
                    <span tabindex="-1">10,001+</span>
                    <div class="button-group_headcount">        
                        <button class="include_headcount" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_headcount" tabindex="-1">Exclude</button>
                    </div>
                </div>
            </div>
        </div>
    
    <!--Filters for F U N C T I O N -->
        <div class="filters_function">
            <div class="filternameOutterDiv"><div class="filternameInnerDiv"><p class="filterNameParagraph">Function</p></div></div>
            <div class="filter-list_function">
                <!-- Filter options will be added here -->
            </div>
            <input type="text" class="search-bar_function" placeholder="Search...">
            <div class="options_function">
                <div class="option_function">
                    <span tabindex="-1">Accounting</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Administrative</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Arts and Design</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Business Development</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Community and Social Services</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Consulting</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Customer Success and Support</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Education</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Engineering</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Entrepreneurship</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Finance</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Healthcare Services</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Human Resources</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Information Technology</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Legal</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Marketing</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Media and Communication</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Military and Protective Services</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Operations</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Product Management</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Program and Project Management</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Purchasing</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Quality Assurance</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Real Estate</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Research</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
                <div class="option_function">
                    <span tabindex="-1">Sales</span>
                    <div class="button_group_function">        
                        <button class="include_function" tabindex="-1">Include</button>
                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                        <button class="exclude_function" tabindex="-1">Exclude</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="filters.js"></script>