{% extends 'base.html' %}


{% block content%}

<p style="text-align: center;">Win more deals faster by using your personal network to find verified Champions👑 </p>
    <div class="container">
        <object data="/static/map.svg" type="image/svg+xml" style="position: relative; top: -150px; margin-bottom: -250px; 
        left: -250px; margin-right: -250px;  transform: scale(0.58);
        "
         ></object>
    </div>

<p style="text-align: center;">There are 1,330 contacts who are in South America, between 51-200 employees, and who work in Accounting in your network!</p>

<div style="display: flex; justify-content: center;">
    <button type="button" style="border: none; 
    border-radius: 30px; background-color: purple; color: white;
    padding: 12px 30px; align-items:center ;">Start Backchanneling</button>
    <img src="https://static.vecteezy.com/system/resources/previews/018/930/587/non_2x/linkedin-logo-linkedin-icon-transparent-free-png.png" 
    alt="Linkedin Logo" style="height: 4rem; width: 4rem;">
</div>

<h2 style="text-align: center;">
    500,000 Champions <br>
    45 Different Functions <br>
    15 Regions <br>
    10 Company Sizes <br>
</h2>


{% endblock %}