{% extends 'base_normal.html' %}


{% block content%}

<head>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<div class="container" data-aos="fade-in" >
    <p style="text-align: center;">Win more deals faster by using your personal network to find verified Champions👑 </p>
    <div id="filter_map">
        
        <!------FILTERS------->
        <div class="search_filters">
            <div class="three_filters">
                <!--Filters for G E O G R A P H Y-->
                    <div class="filters_geography">
                        <div class="filternameOutterDiv"><div class="filternameInnerDiv"><p class="filterNameParagraph">Geography</p></div></div>
                        <div class="filter-list_geography">
                            <!-- Filter options will be added here -->
                        </div>
                        <input type="text" class="search-bar_geography" placeholder="Search...">
                        <div class="options">

                            {% for geography in geography_data %}
                            <div class="option_geography">
                                <span tabindex="-1">{{ geography[0] }}</span>
                                <div class="button_group_geography">
                                    <button class="include_geography" tabindex="-1">Include</button>
                                    <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                                    <button class="exclude_geography" tabindex="-1">Exclude</button>
                                </div>
                            </div>
                           {% endfor %}

                        </div>
                    </div>
                <!--Filters for COMPANY H E A D C O U N T -->
                    <div class="filters_headcount">
                        <div class="filternameOutterDiv"><div class="filternameInnerDiv"><p class="filterNameParagraph">Headcount</p></div></div>
                        <div class="filter-list_headcount">
                            <!-- Filter options will be added here -->
                        </div>
                        <input type="text" class="search-bar_headcount" placeholder="Search...">
                        <div class="options">

                            {% for headcount in headcount_data %}
                            <div class="option_headcount">
                                <span tabindex="-1">{{ headcount[0] }}</span>
                                <div class="button-group_headcount">        
                                    <button class="include_headcount" tabindex="-1">Include</button>
                                    <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                                    <button class="exclude_headcount" tabindex="-1">Exclude</button>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                
                <!--Filters for F U N C T I O N -->
                    <div class="filters_function">
                        <div class="filternameOutterDiv"><div class="filternameInnerDiv"><p class="filterNameParagraph">Function</p></div></div>
                        <div class="filter-list_function">
                            <!-- Filter options will be added here -->
                        </div>
                        <input type="text" class="search-bar_function" placeholder="Search...">
                        <div class="options">

                            {% for function in function_data %}
                            <div class="option_function">
                                <span tabindex="-1">{{ function[0] }}</span>
                                <div class="button_group_function">        
                                    <button class="include_function" tabindex="-1">Include</button>
                                    <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                                    <button class="exclude_function" tabindex="-1">Exclude</button>
                                </div>
                            </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        <!------MAP------->
            {% include 'map.html' %}

    <div class="below_map">
        <p style="text-align: center;">There are 1,330 contacts who are in South America, between 51-200 employees, and who work in Accounting in your network!</p>

        <div style="display: flex; justify-content: center; align-items: center;">
            <button class="backchanneling_button" type="button">Start Backchanneling</button>
            <a href="{{ url_for('linkedin_signin')}}">
                <button type="button" class="linkedin_signin" style="border: none; border-radius: 30px; background-color: #f4f4f4;">
                    <img src="https://static.vecteezy.com/system/resources/previews/018/930/587/non_2x/linkedin-logo-linkedin-icon-transparent-free-png.png" 
                        alt="Linkedin Logo" style="height: 4rem; width: 4rem;">
                </button>
            </a>
        </div>

        <br><br><br><br>
        <div data-aos="fade-right">
           <h2 style="text-align: center;">
            500,000 Champions <br>
            45 Different Functions <br>
            15 Regions <br>
            10 Company Sizes <br>
            </h2> 
        </div>
        
        <br><br>
    </div>
</div>

<div class="all" data-aos="fade-left">
    <div class="testimonials">
        <div class="inner">
            <h1>Testimonials</h1>
            <div class="border"></div>
    
            <div class="row">
                <div class="col">
                    <div class="testimonial">
                        <img src="/static/images/person1.jfif" alt="">
                        <div class="name">Full Name</div>
                        <p>"I couldn't be happier with the service I received from XYZ Company. From the moment I contacted them, they were responsive, professional, and attentive to my needs. They exceeded my expectations and delivered a product that truly impressed me. I highly recommend their services to anyone looking for top-notch quality and customer care."</p>
                    </div>
                </div>
    
                <div class="col">
                    <div class="testimonial">
                        <img src="/static/images/person2.jfif" alt="">
                        <div class="name">Full Name</div>
                        <p>"I couldn't be happier with the service I received from XYZ Company. From the moment I contacted them, they were responsive, professional, and attentive to my needs. They exceeded my expectations and delivered a product that truly impressed me. I highly recommend their services to anyone looking for top-notch quality and customer care."</p>
                    </div>
                </div>
                <div class="col">
                    <div class="testimonial">
                        <img src="/static/images/person3.jfif" alt="">
                        <div class="name">Full Name</div>
                        <p>"I couldn't be happier with the service I received from XYZ Company. From the moment I contacted them, they were responsive, professional, and attentive to my needs. They exceeded my expectations and delivered a product that truly impressed me. I highly recommend their services to anyone looking for top-notch quality and customer care."</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    </div>

    <br><br>

    <div class="logo-footer hidden">
        <span>
            <img src="../static/images/logo.png" alt="">
        </span>
    </div>

    <br><br><br><br>

    <div class="slider-container" data-aos="fade-in" id="pricing">
        <div class="before-included">
            <div class="pricing"><strong>PRICING</strong></div> 
            <div class="pricing1">Pricing for usage</div>
            <div class="pricing2">Use the credits as needed, when more are necessary just re-up</div>
            <input type="range" min="0" max="7" value="0" class="slider" id="priceSlider"> <br><br>
            <div id="credits">Credits: 100</div>
            <div id="companyOffer">$80 @ $.80 / credit</div>
        </div>
        <div class="included"> <br><br>
            <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">What's included</h2>
            <ul>
                <li>All analitics features</li>
                <li>Database of 250 000 champions</li>
                <li>Email Support</li>
                <li>Something else</li>
            </ul>
            <img src="../static/images/pricing-logo.PNG" alt="" style="float: right; margin: 0 0 0 15px; top: -120px;">
            <button>Get started</button>
        </div>
    </div>
    

    <br><br><br><br>

    <footer class="all-footer">
        <div class="footer-content">
            <h3></h3>
            <p>This is the footer</p>
            <ul class="socials">
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Linkedin</li>
                <li ><a style="text-decoration: none; color: black;" href="{{url_for('privacypolicy')}}">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2023 Backchanneling</p>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
        duration: 1300,
        once: true,
    });
  </script>

{% endblock %}