{% extends 'base_normal.html' %}


{% block content%}

<head>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap">
</head>
<div class="container" data-aos="fade-in" >
        <!--BIG CONTAINER FIRST LOOK LANDING PAGE-->
    <div class="content-filter-map-subcontainer">
            <!--WIN MORE DEALS FASTER text-->
        <div class="above-map-paragrap">
            <p style="text-align: center;"><span style="color: rgb(74, 57, 254); font-weight: bolder;">Win more deals faster</span> by using your personal network to find verified <span style="color: rgb(74, 57, 254); font-weight: bolder;">Champions👑</span> </p>
        </div>
            <!--FILTER AND MAP HORISONTAL LAYOUT-->
        <div id="filter_map">
                <!------FILTERS------->
            <div class="search_filters">
                    <div class="three_filters">
                        <!--Filters for G E O G R A P H Y-->
                            <div class="filters_geography">
                                <div class="filternameOutterDiv"><div class="filternameInnerDiv"><p class="filterNameParagraph">Geography</p></div>
                                </div>
                                    <div class="filter-list_geography">
                                        <!-- Filter options will be added here -->
                                    </div>
                                <div class="scrollable-options">
                                    <input type="text" class="search-bar_geography" placeholder="Search...">
                                    <div class="options">
    
                                        {% for geography in geography_data %}
                                        <div class="option_geography">
                                            <span tabindex="-1">{{ geography[0] }}</span>
                                            <div class="button_group_geography">
                                                <button class="include_geography" tabindex="-1">Include</button>
                                                <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                                                <button class="exclude_geography" tabindex="-1">Exclude</button>
                                            </div>
                                        </div>
                                    {% endfor %}
    
                                    </div>
                                </div>
                            </div>
                        <!--Filters for COMPANY H E A D C O U N T -->
                            <div class="filters_headcount">
                                <div class="filternameOutterDiv"><div class="filternameInnerDiv"><p class="filterNameParagraph">Headcount</p></div></div>
                                    <div class="filter-list_headcount">
                                        <!-- Filter options will be added here -->
                                    </div>
                                <div class="scrollable-options">
                                    <input type="text" class="search-bar_headcount" placeholder="Search...">
                                    <div class="options">
    
                                        {% for headcount in headcount_data %}
                                        <div class="option_headcount">
                                            <span tabindex="-1">{{ headcount[0] }}</span>
                                            <div class="button-group_headcount">        
                                                <button class="include_headcount" tabindex="-1">Include</button>
                                                <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                                                <button class="exclude_headcount" tabindex="-1">Exclude</button>
                                            </div>
                                        </div>
                                        {% endfor %}
    
                                    </div>
                                </div>
                            </div>
                        
                        <!--Filters for F U N C T I O N -->
                            <div class="filters_function">
                                <div class="filternameOutterDiv"><div class="filternameInnerDiv"><p class="filterNameParagraph">Function</p></div></div>
                                    <div class="filter-list_function">
                                        <!-- Filter options will be added here -->
                                    </div>
                                <div class="scrollable-options">
                                    <input type="text" class="search-bar_function" placeholder="Search...">
                                    <div class="options">
    
                                        {% for function in function_data %}
                                        <div class="option_function">
                                            <span tabindex="-1">{{ function[0] }}</span>
                                            <div class="button_group_function">        
                                                <button class="include_function" tabindex="-1">Include</button>
                                                <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                                                <button class="exclude_function" tabindex="-1">Exclude</button>
                                            </div>
                                        </div>
                                        {% endfor %}
    
                                    </div>
                                </div>
                            </div>
                        </div> <!-- Three FIlters -->
            </div>
                <!------MAP------->
            <div class="map-container">
                {% include 'map.html' %}
            </div>
        </div><!--SUBCONTAINER-->
        
            <!--DATA FROM DATABASE FILTERED SEARCH NUMBERS-->
        <div class="filters-data-update">
            <p style="text-align: center;">There are <span>1,330 contacts</span>
                who are in <span>South America</span>, between 
                <span>51-200 employees</span>, and who work in 
                <span>Accounting</span> in your network!</p>

            <div style="display: flex; justify-content: center; align-items: center;">
                <a href="{{ url_for('backchannel_button') }}">
                    <button class="backchanneling_button" type="button", onclick="backchannel_button()">Start Backchanneling</button>
                </a>
            </div>
-
            <br><br><br><br>
            <div data-aos="fade-right">
            <h2 style="text-align: center;">
                <span>500,000</span> Champions <br>
                <span>45</span> Different Functions <br>
                <span>15</span> Regions <br>
                <span>10</span> Company Sizes <br>
                </h2> 
            </div>
            
            <br><br>
        </div>
    </div>

<div class="all-testimonials" data-aos="fade-left">
    <div class="testimonials">
        <div class="inner-testimonials">
            <h1>Testimonials</h1>
            <div class="border-testimonials"></div>
    
            <div class="row-testimonials">
                <div class="col-testimonials">
                    <div class="testimonial">
                        <img src="/static/images/person1.jfif" alt=""><br><br>
                        <div class="name">Scott Doe</div>
                        <p>"I couldn't be happier with the service I received from Backchannel.com. From the moment I contacted them, they were responsive, professional, and attentive to my needs. They exceeded my expectations and delivered a product that truly impressed me. I highly recommend their services to anyone looking for top-notch quality and customer care."</p>
                    </div>
                </div>
    
                <div class="col-testimonials">
                    <div class="testimonial">
                        <img src="/static/images/person2.jfif" alt=""><br><br>
                        <div class="name">Chan Tai Man</div>
                        <p>"I'm extremely pleased with the exceptional service provided by Backchannel.com. Their professionalism and dedication to meeting my requirements surpassed my expectations. I wholeheartedly recommend Backchannel.com to anyone seeking to link with other people on the same expertiese."</p>
                    </div>
                </div>
                <div class="col">
                    <div class="testimonial">
                        <img src="/static/images/person3.jfif" alt=""><br><br>
                        <div class="name">Zhang Chen</div>
                        <p>"Choosing Backchannel.com was a decision I won't regret. From the moment I reached out, their responsiveness and attention to detail stood out. They not only met but exceeded my expectations, delivering a service that truly impressed me. I highly recommend Backchannel.com for their high quality service."</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    </div>

    <br><br>

    <div class="logo-footer hidden">
        <span>
            <img src="../static/images/logo.png" alt="">
        </span>
    </div>

    <br><br><br><br>

    <div class="slider-container" data-aos="fade-in" id="pricing">
        <div class="before-included">
            <div class="pricing"><strong>PRICING</strong></div>
            <div class="pricing1">Pricing for usage</div>
            <div class="pricing2">Use the credits as needed, when more are necessary just re-up</div>
            <div class="slider-wrapper">
                <input type="range" min="0" max="7" value="0" class="slider" id="priceSlider">
                <div class="slider-bubble" id="sliderBubble">100</div>
            </div>
            <br><br>
        </div>
        
        <div class="pricing-container">
            <div class="img-basic-pricing-info">
            <div class="img-basic">
                <div class="image-container">
                    <img src="../static/images/pricing-logo.PNG" alt="">
                </div>
                <div class="basic-container">
                    <div class="for-individuals">For Individuals</div>
                    <div class="basic">Basic</div>
                </div>
            </div>
            <div class="pricing-info">
                <div id="credits">Credits: 100</div>
                <div id="companyOffer">$80 @ $.80 / credit</div>
                <button class="get-started-button">Get started</button>
            </div>
            </div>
            <div class="included">
                <p>What's included</p>
                <ul>
                    <li><div class="success-checkmark"><img src="../static/images/tick.png" alt=""></div>&nbsp;&nbsp;All analytics features</li>
                    <li><div class="success-checkmark"><img src="../static/images/tick.png" alt=""></div>&nbsp;&nbsp;Database of 250,000 champions</li>
                    <li><div class="success-checkmark"><img src="../static/images/tick.png" alt=""></div>&nbsp;&nbsp;Email Support</li>
                    <li><div class="success-checkmark"><img src="../static/images/tick.png" alt=""></div>&nbsp;&nbsp;Something else</li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
    

    <br><br><br><br>

    <footer class="all-footer">
        <div class="footer-content">
            <h3></h3>
            <ul class="socials">
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Linkedin</li>
                <li ><a style="text-decoration: none; color: black;" href="{{url_for('privacypolicy')}}">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright &copy;2023 Backchanneling</p>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
        duration: 1300,
        once: true,
    });
  </script>

{% endblock %}
