{% extends 'base.html' %}


{% block content%}
   

<h4>Effective date: October 6, 2023</h4>
<p>Thank you for your interest in Backchannels, Inc. (“Backchannels,” “us” or “we”). Please review
    this Privacy Policy (the “Policy”) before using www.backchannels.co or any other website we
    operate that contains a link to this Policy (each and collectively, the “Site”). By using the Site,
    you are consenting to the collection, use, and disclosure of your Information (as defined below)
    as set forth here. If you do not agree with this, please do not use the Site.</p>

<h2>Scope of the Policy</h2>
<p>This Policy includes any separate privacy notices and/or notices posted on particular pages of
    the Site that may provide more detail regarding the Information we collect on those pages, why
    we need that information, and choices you may have about the ways we use that Information.
    Your Information is currently collected and stored on servers located in the United States,
    although we may transfer your Information to our service providers and others located in the
    United States or another country for the purposes described in this Policy. No matter where your
    Information is collected, used, transferred or stored, if it was collected through this Site, it will be
    covered by the terms of this Policy.
    BY USING THIS SITE, YOU ARE CONSENTING TO THE COLLECTION, USE, TRANSFER
    AND STORAGE OF YOUR INFORMATION IN OR TO THE UNITED STATES OR TO ANY
    OTHER COUNTRY IN THE WORLD SUBJECT TO THE TERMS OF THIS POLICY.</p>

<h2>Types of Information We Collect</h2>
<p>“Information” (“Personal Data”) refers to information we collect from or about you, including
    information that identifies you personally, alone or in combination with other information
    available to us.
    Backchannels collects Information you knowingly and voluntarily provide when you use this Site.
    For example, we may collect the Information you submit when you contact us or provide
    feedback. We also collect Information you provide directly to us through our products, services,
    and applications.
    We receive Information from your devices, including IP address, http referrer fields, web
    browser type, mobile operating system version, phone carrier and manufacturer, unique device
    identifiers, and other information about your device and your usage of the Site. We also collect
    Information that is sent to us automatically by your Web browser. We automatically receive
    Information about your interactions with our Site, such as the pages or other content you view
    and the dates and times of your visits.
    We use cookies, web beacons, and other electronic tools to manage and track your interaction
    with the Site. A cookie is a piece of data that a website you visit can set on your browser or
    elsewhere on your device. These technologies collect information that helps us better serve our
    users and enhance this Site, such as by tracking return visits, collecting Site usage information,
    and performing research, analysis, and Site analytics. Third parties whose products or services
    are accessible via links from the Site may also use cookies or similar tools, and we advise you
    to check their privacy policies for information about their cookies and other privacy practices. If
    you prefer not to accept cookies through our Sites, you can set your browser to warn you before
    accepting cookies or disable them altogether. We or our vendors may use third-party web
    analytics services (such as those of Google Analytics) on the Site to collect and analyze usage
    information through cookies and similar tools; engage in auditing, research, or reporting; assist
    with fraud prevention; and provide certain features to you. To prevent Google Analytics from
    using your information for analytics, you may install the Google Analytics Opt-out Browser
    Add-on by clicking here.
    Please note that you can change your settings to notify you when a cookie is being set or
    updated, or to block cookies altogether. Please consult the “Help” section of your browser for
    more information (e.g., Internet Explorer; Google Chrome; Mozilla Firefox; or Apple Safari). You
    can also manage the use of Flash technologies, including flash cookies and local storage
    objects with the Flash management tools available at Adobe’s website. Please note that by
    blocking, disabling, or managing any or all cookies, you may not have access to certain features
    or offerings of the Site.
    This site is being monitored by one or more third-party monitoring software(s), and may capture
    information about your visit that will help us improve the quality of our service. You may opt-out
    from the data that SmartPiXL is collecting on your visit through a universal consumer options
    page located here.
    This Policy places no restriction on the use of Information we automatically collect from your
    visit to the Site.
    We may also collect Information about you or others through non-affiliated third parties. For
    example, to the extent permitted by law, we may, in our sole discretion, ask for and collect
    supplemental information from third parties for other fraud or safety protection purposes. We
    may combine information that we collect from you through the Site with information that we
    obtain from such third parties and information derived from any other products or services we
    provide.
    </p>

<h2>How We Use Information</h2>
<p>In general, we use Information we collect through this Site:
    – to provide the information, products and services you request;
    – to better understand your needs and interests;
    – to analyze how you use the Site;
    – to provide you with a personalized experience when you use this Site;
    – to process and respond to inquiries, such as customer support questions and requests;
    – to improve, expand, and promote the content, functionality and usability of this Site;
    – to contact you with information and notices related to your use of this Site;
    – to communicate with you, either directly or through one of our service providers, including for
    marketing and promotional purposes;
    – to improve our products and services;
    – to find and prevent fraud;
    – to resolve disputes, to protect the rights, property, or safety of Backchannels, our Site visitors,
    customers, or the public, and to enforce any legal terms – that govern your use of the Site or our
    other services and products;
    – to improve our marketing and promotional efforts; and
    – for any other purpose identified in any other agreement between us.
    We may combine the Information that we collect through the Site with Information that we
    receive from other sources, both online and offline, and use such combined information in
    accordance with this Policy.
    We may aggregate and/or de-identify the Information we collect. We may use de-identified or
    aggregated data for any purpose, including without limitation for research and marketing
    purposes and may also share such data with any third parties, including without limitation,
    advertisers, promotional partners, and/or others.</p>

<h2>How We Share Information</h2>
<p>Except as provided herein, we may share your Information with third parties in the following
    cases:
    – Where disclosure is required or appropriate in order to comply with laws, regulations, legal
    process, or a governmental request;
    – With law enforcement officials, government authorities, or third parties, if we think doing so is
    necessary to protect the rights, property, or safety of Backchannels, our Site visitors, customers,
    or the public;
    – To protect the security or integrity of the Site or our other services and products;
    – To enforce our agreements and policies;
    – To respond to an emergency which we believe in good faith requires us to disclose information
    to assist in preventing the death or serious bodily injury of any person;
    – To investigate and defend ourselves or others against any third-party claims or allegations;
    – With third-party service providers who act for or on behalf of Backchannels;
    – With Backchannels employees and any related companies;
    – While negotiating or in relation to a business transaction, such as a merger, sale of assets,
    insolvency, reorganization, receivership, assignment for the benefit of creditors, change of
    control, or bankruptcy;
    – As described in any privacy notice posted on the Web page where you provide that
    information.
    Your Information may also be transferred to a successor organization if, for example, we
    transfer the ownership or operation of this Site to another organization or if we merge with
    another organization.
    </p>

<h2>Accessing and Controlling Your Information</h2>
<p>If you have any questions regarding the Information we have collected about you, please
    contact us as described below.</p>

<h2>Data Retention and Security</h2>
<p>We generally retain Information for so long as it may be relevant to the purposes above.
    We maintain administrative, technical, and physical safeguards to protect information that you
    submit to us. However, no system is completely secure or error-free. We do not, and cannot,
    guarantee the complete security of your Information.
    </p>

<h2>Opt-Out</h2>
<p>Under the Privacy Shield Principles, individuals have the right to opt out of (a) disclosures of
    their Personal Data to third parties not identified at the time of collection or subsequently
    authorized, and (b) uses of Personal Data for purposes materially different from those disclosed
    at the time of collection or subsequently authorized.
    </p>

<h2>Inquiries and Complaints</h2>
<p>As part of our commitment to the Privacy Shield Principles, if you are a resident of the European
    Union or Switzerland and you have a privacy or data use concern, please contact Backchannels
    directly at privacy@backchannels.co and Backchannels will use its best efforts to address your
    concern within 45 days of receipt of your complaint.
    Backchannels has further committed to cooperating with the panel established by the EU data
    protection authorities (DPAs) with regard to unresolved Privacy Shield complaints concerning
    data transferred from the EU. You can find the relevant supervisory authority name and contact
    details here.
    For any Privacy Shield disputes that cannot be resolved by the methods above, you may be
    able to invoke a binding arbitration process under certain conditions. To learn more about the
    Privacy Shield’s binding arbitration scheme, please see
    https://www.privacyshield.gov/article?id=ANNEX-I-introduction.
    The Federal Trade Commission has investigation and enforcement authority over
    Backchannels’ compliance with the Privacy Shield Framework.
    </p>

<h2>Access, Limit Use and Limit Disclosure</h2>
<p>Individuals in the European Union and Switzerland have the right to access personal data about
    them and to limit the use and disclosure of their personal data. With our Privacy Shield
    self-certification, we have committed to respecting those rights.
    If your personal data includes Backchannels Personal Data, you can request access to that data
    and request that we correct amend, or delete it if it is inaccurate or processed in violation of
    Privacy Shield by emailing your request to privacy@backchannels.co. We may request specific
    information from you to help us confirm your identity and process your request. Applicable law
    may require or permit us to decline your request. If we decline your request, we will tell you why,
    subject to legal restrictions.
    </p>

<h2>Children’s Privacy</h2>
<p>The Site is not intended for children or minors under the age of eighteen years. We do not
    knowingly collect personal information from, or market online to, children under 13. If we
    become aware that a child under 13 (or a higher age threshold where applicable) has provided
    us with personal information, we will take steps to comply with any applicable legal requirement
    to remove such information.</p>

<h2>Links to Third-Party Websites</h2>
<p>Please note that the Site may contain links to third-party websites. Since we do not control
    third-party sites and are not responsible for any information you may provide while on such
    sites, we encourage you to read the privacy policies on those websites before providing any of
    your information on such sites.
    </p>

<h2>Do-Not-Track Notice</h2>
<p>This Site does not recognize or respond to browser-initiated Do-Not-Track signals</p>

<h2>This Policy May Change</h2>
<p>We reserve the right to update or modify this Policy at any time, without prior notice, by posting
    the revised version of this Policy behind the link marked “Privacy Policy” at the bottom of each
    page of the Site. Please check this page periodically for updates. Your continued use of this Site
    after we have posted the revised Policy constitutes your agreement to be bound by the revised
    Policy.</p>

<h2>Contact Us</h2>
<p>If you have questions about this Privacy Policy, please contact us at info@backchannels.co or
    visit here.</p>



{% endblock %}