{% extends 'base_admin.html' %}

{% block content%}
<div class="container">
<!-- INTRODUCTIONS ASKED -->
    <div class="two-introduction-titles">
        <span class="introductions-title">Introduction Asked</span>
        <span class="introductions-title">You Introduced</span>
    </div>
    <div class="introductions-rows">
       
        <!--LOOP START-->
        <div class="introductions-row">
            <div class="introductions-asked">
                <!-- USER DETAILS -->
                <div class="introductions-user-details">
                    <img class="introductions-pfp" src="../../static/images/person.jpeg" alt="pfp">
                    <div class="introductions-name-function">
                        <span class="introductions-name">Garry Tan</span>
                        <span class="introductions-function">Director of Sales Microsoft</span>
                    </div>
                </div>
                <!-- INTRODUCTION LIST -->
                <div class="introductions-list">
                    <a href="" class="introductions-current-highlighted" >John Smith
                    </a>
                    <span class="introductions-others">, +12 others</span>
                </div>
            <!--LOOP END-->
            </div><!--introductions-asked END-->

            <!-- YOU INTRODUCED -->
            <div class="you-introduced">
                <div class="introductions-row-container">
                    <!--LOOP START-->
                    <div class="introductions-row">
                        <div class="introductions-list">
                            <a href="" class="introductions-current-highlighted" >John Smith
                            </a>
                            <span class="introductions-others">, +12 others</span>
                        </div>

                        <button class="introductions-message-button">Message</button>
                    </div>
                </div>
            </div>
            
        </div><!-- introductions-row END -->
        <div class="introductions-row">
            <div class="introductions-asked">
                <!-- USER DETAILS -->
                <div class="introductions-user-details">
                    <img class="introductions-pfp" src="../../static/images/person.jpeg" alt="pfp">
                    <div class="introductions-name-function">
                        <span class="introductions-name">Garry Tan</span>
                        <span class="introductions-function">Director of Sales Microsoft</span>
                    </div>
                </div>
                <!-- INTRODUCTION LIST -->
                <div class="introductions-list">
                    <a href="" class="introductions-current-highlighted" >John Smith
                    </a>
                    <span class="introductions-others">, +12 others</span>
                </div>
            <!--LOOP END-->
            </div><!--introductions-asked END-->

            <!-- YOU INTRODUCED -->
            <div class="you-introduced">
                <div class="introductions-row-container">
                    <!--LOOP START-->
                    <div class="introductions-row">
                        <div class="introductions-list">
                            <a href="" class="introductions-current-highlighted" >John Smith
                            </a>
                            <span class="introductions-others">, +12 others</span>
                        </div>

                        <button class="introductions-message-button">Message</button>
                    </div>
                </div>
            </div>
            
        </div><!-- introductions-row END -->
        <div class="introductions-row">
            <div class="introductions-asked">
                <!-- USER DETAILS -->
                <div class="introductions-user-details">
                    <img class="introductions-pfp" src="../../static/images/person.jpeg" alt="pfp">
                    <div class="introductions-name-function">
                        <span class="introductions-name">Garry Tan</span>
                        <span class="introductions-function">Director of Sales Microsoft</span>
                    </div>
                </div>
                <!-- INTRODUCTION LIST -->
                <div class="introductions-list">
                    <a href="" class="introductions-current-highlighted" >John Smith
                    </a>
                    <span class="introductions-others">, +12 others</span>
                </div>
            <!--LOOP END-->
            </div><!--introductions-asked END-->

            <!-- YOU INTRODUCED -->
            <div class="you-introduced">
                <div class="introductions-row-container">
                    <!--LOOP START-->
                    <div class="introductions-row">
                        <div class="introductions-list">
                            <a href="" class="introductions-current-highlighted" >John Smith
                            </a>
                            <span class="introductions-others">, +12 others</span>
                        </div>

                        <button class="introductions-message-button">Message</button>
                    </div>
                </div>
            </div>
            
        </div><!-- introductions-row END -->
        <div class="introductions-row">
            <div class="introductions-asked">
                <!-- USER DETAILS -->
                <div class="introductions-user-details">
                    <img class="introductions-pfp" src="../../static/images/person.jpeg" alt="pfp">
                    <div class="introductions-name-function">
                        <span class="introductions-name">Garry Tan</span>
                        <span class="introductions-function">Director of Sales Microsoft</span>
                    </div>
                </div>
                <!-- INTRODUCTION LIST -->
                <div class="introductions-list">
                    <a href="" class="introductions-current-highlighted" >John Smith
                    </a>
                    <span class="introductions-others">, +12 others</span>
                </div>
            <!--LOOP END-->
            </div><!--introductions-asked END-->

            <!-- YOU INTRODUCED -->
            <div class="you-introduced">
                <div class="introductions-row-container">
                    <!--LOOP START-->
                    <div class="introductions-row">
                        <div class="introductions-list">
                            <a href="" class="introductions-current-highlighted" >John Smith
                            </a>
                            <span class="introductions-others">, +12 others</span>
                        </div>

                        <button class="introductions-message-button">Message</button>
                    </div>
                </div>
            </div>
            
        </div><!-- introductions-row END -->
        <div class="introductions-row">
            <div class="introductions-asked">
                <!-- USER DETAILS -->
                <div class="introductions-user-details">
                    <img class="introductions-pfp" src="../../static/images/person.jpeg" alt="pfp">
                    <div class="introductions-name-function">
                        <span class="introductions-name">Garry Tan</span>
                        <span class="introductions-function">Director of Sales Microsoft</span>
                    </div>
                </div>
                <!-- INTRODUCTION LIST -->
                <div class="introductions-list">
                    <a href="" class="introductions-current-highlighted" >John Smith
                    </a>
                    <span class="introductions-others">, +12 others</span>
                </div>
            <!--LOOP END-->
            </div><!--introductions-asked END-->

            <!-- YOU INTRODUCED -->
            <div class="you-introduced">
                <div class="introductions-row-container">
                    <!--LOOP START-->
                    <div class="introductions-row">
                        <div class="introductions-list">
                            <a href="" class="introductions-current-highlighted" >John Smith
                            </a>
                            <span class="introductions-others">, +12 others</span>
                        </div>

                        <button class="introductions-message-button">Message</button>
                    </div>
                </div>
            </div>
            
        </div><!-- introductions-row END -->
        <div class="introductions-row">
            <div class="introductions-asked">
                <!-- USER DETAILS -->
                <div class="introductions-user-details">
                    <img class="introductions-pfp" src="../../static/images/person.jpeg" alt="pfp">
                    <div class="introductions-name-function">
                        <span class="introductions-name">Garry Tan</span>
                        <span class="introductions-function">Director of Sales Microsoft</span>
                    </div>
                </div>
                <!-- INTRODUCTION LIST -->
                <div class="introductions-list">
                    <a href="" class="introductions-current-highlighted" >John Smith
                    </a>
                    <span class="introductions-others">, +12 others</span>
                </div>
            <!--LOOP END-->
            </div><!--introductions-asked END-->

            <!-- YOU INTRODUCED -->
            <div class="you-introduced">
                <div class="introductions-row-container">
                    <!--LOOP START-->
                    <div class="introductions-row">
                        <div class="introductions-list">
                            <a href="" class="introductions-current-highlighted" >John Smith
                            </a>
                            <span class="introductions-others">, +12 others</span>
                        </div>

                        <button class="introductions-message-button">Message</button>
                    </div>
                </div>
            </div>
            
        </div><!-- introductions-row END -->
        <div class="introductions-row">
            <div class="introductions-asked">
                <!-- USER DETAILS -->
                <div class="introductions-user-details">
                    <img class="introductions-pfp" src="../../static/images/person.jpeg" alt="pfp">
                    <div class="introductions-name-function">
                        <span class="introductions-name">Garry Tan</span>
                        <span class="introductions-function">Director of Sales Microsoft</span>
                    </div>
                </div>
                <!-- INTRODUCTION LIST -->
                <div class="introductions-list">
                    <a href="" class="introductions-current-highlighted" >John Smith
                    </a>
                    <span class="introductions-others">, +12 others</span>
                </div>
            <!--LOOP END-->
            </div><!--introductions-asked END-->

            <!-- YOU INTRODUCED -->
            <div class="you-introduced">
                <div class="introductions-row-container">
                    <!--LOOP START-->
                    <div class="introductions-row">
                        <div class="introductions-list">
                            <a href="" class="introductions-current-highlighted" >John Smith
                            </a>
                            <span class="introductions-others">, +12 others</span>
                        </div>

                        <button class="introductions-message-button">Message</button>
                    </div>
                </div>
            </div>
            
        </div><!-- introductions-row END -->
        <div class="introductions-row">
            <div class="introductions-asked">
                <!-- USER DETAILS -->
                <div class="introductions-user-details">
                    <img class="introductions-pfp" src="../../static/images/person.jpeg" alt="pfp">
                    <div class="introductions-name-function">
                        <span class="introductions-name">Garry Tan</span>
                        <span class="introductions-function">Director of Sales Microsoft</span>
                    </div>
                </div>
                <!-- INTRODUCTION LIST -->
                <div class="introductions-list">
                    <a href="" class="introductions-current-highlighted" >John Smith
                    </a>
                    <span class="introductions-others">, +12 others</span>
                </div>
            <!--LOOP END-->
            </div><!--introductions-asked END-->

            <!-- YOU INTRODUCED -->
            <div class="you-introduced">
                <div class="introductions-row-container">
                    <!--LOOP START-->
                    <div class="introductions-row">
                        <div class="introductions-list">
                            <a href="" class="introductions-current-highlighted" >John Smith
                            </a>
                            <span class="introductions-others">, +12 others</span>
                        </div>

                        <button class="introductions-message-button">Message</button>
                    </div>
                </div>
            </div>
            
        </div><!-- introductions-row END -->
        <div class="introductions-row">
            <div class="introductions-asked">
                <!-- USER DETAILS -->
                <div class="introductions-user-details">
                    <img class="introductions-pfp" src="../../static/images/person.jpeg" alt="pfp">
                    <div class="introductions-name-function">
                        <span class="introductions-name">Garry Tan</span>
                        <span class="introductions-function">Director of Sales Microsoft</span>
                    </div>
                </div>
                <!-- INTRODUCTION LIST -->
                <div class="introductions-list">
                    <a href="" class="introductions-current-highlighted" >John Smith
                    </a>
                    <span class="introductions-others">, +12 others</span>
                </div>
            <!--LOOP END-->
            </div><!--introductions-asked END-->

            <!-- YOU INTRODUCED -->
            <div class="you-introduced">
                <div class="introductions-row-container">
                    <!--LOOP START-->
                    <div class="introductions-row">
                        <div class="introductions-list">
                            <a href="" class="introductions-current-highlighted" >John Smith
                            </a>
                            <span class="introductions-others">, +12 others</span>
                        </div>

                        <button class="introductions-message-button">Message</button>
                    </div>
                </div>
            </div>
            
        </div><!-- introductions-row END -->
        <div class="introductions-row">
            <div class="introductions-asked">
                <!-- USER DETAILS -->
                <div class="introductions-user-details">
                    <img class="introductions-pfp" src="../../static/images/person.jpeg" alt="pfp">
                    <div class="introductions-name-function">
                        <span class="introductions-name">Garry Tan</span>
                        <span class="introductions-function">Director of Sales Microsoft</span>
                    </div>
                </div>
                <!-- INTRODUCTION LIST -->
                <div class="introductions-list">
                    <a href="" class="introductions-current-highlighted" >John Smith
                    </a>
                    <span class="introductions-others">, +12 others</span>
                </div>
            <!--LOOP END-->
            </div><!--introductions-asked END-->

            <!-- YOU INTRODUCED -->
            <div class="you-introduced">
                <div class="introductions-row-container">
                    <!--LOOP START-->
                    <div class="introductions-row">
                        <div class="introductions-list">
                            <a href="" class="introductions-current-highlighted" >John Smith
                            </a>
                            <span class="introductions-others">, +12 others</span>
                        </div>

                        <button class="introductions-message-button">Message</button>
                    </div>
                </div>
            </div>
            
        </div><!-- introductions-row END -->
        <div class="introductions-row">
            <div class="introductions-asked">
                <!-- USER DETAILS -->
                <div class="introductions-user-details">
                    <img class="introductions-pfp" src="../../static/images/person.jpeg" alt="pfp">
                    <div class="introductions-name-function">
                        <span class="introductions-name">Garry Tan</span>
                        <span class="introductions-function">Director of Sales Microsoft</span>
                    </div>
                </div>
                <!-- INTRODUCTION LIST -->
                <div class="introductions-list">
                    <a href="" class="introductions-current-highlighted" >John Smith
                    </a>
                    <span class="introductions-others">, +12 others</span>
                </div>
            <!--LOOP END-->
            </div><!--introductions-asked END-->

            <!-- YOU INTRODUCED -->
            <div class="you-introduced">
                <div class="introductions-row-container">
                    <!--LOOP START-->
                    <div class="introductions-row">
                        <div class="introductions-list">
                            <a href="" class="introductions-current-highlighted" >John Smith
                            </a>
                            <span class="introductions-others">, +12 others</span>
                        </div>

                        <button class="introductions-message-button">Message</button>
                    </div>
                </div>
            </div>
            
        </div><!-- introductions-row END -->
        <div class="introductions-row">
            <div class="introductions-asked">
                <!-- USER DETAILS -->
                <div class="introductions-user-details">
                    <img class="introductions-pfp" src="../../static/images/person.jpeg" alt="pfp">
                    <div class="introductions-name-function">
                        <span class="introductions-name">Garry Tan</span>
                        <span class="introductions-function">Director of Sales Microsoft</span>
                    </div>
                </div>
                <!-- INTRODUCTION LIST -->
                <div class="introductions-list">
                    <a href="" class="introductions-current-highlighted" >John Smith
                    </a>
                    <span class="introductions-others">, +12 others</span>
                </div>
            <!--LOOP END-->
            </div><!--introductions-asked END-->

            <!-- YOU INTRODUCED -->
            <div class="you-introduced">
                <div class="introductions-row-container">
                    <!--LOOP START-->
                    <div class="introductions-row">
                        <div class="introductions-list">
                            <a href="" class="introductions-current-highlighted" >John Smith
                            </a>
                            <span class="introductions-others">, +12 others</span>
                        </div>

                        <button class="introductions-message-button">Message</button>
                    </div>
                </div>
            </div>
            
        </div><!-- introductions-row END -->
        <div class="introductions-row">
            <div class="introductions-asked">
                <!-- USER DETAILS -->
                <div class="introductions-user-details">
                    <img class="introductions-pfp" src="../../static/images/person.jpeg" alt="pfp">
                    <div class="introductions-name-function">
                        <span class="introductions-name">Garry Tan</span>
                        <span class="introductions-function">Director of Sales Microsoft</span>
                    </div>
                </div>
                <!-- INTRODUCTION LIST -->
                <div class="introductions-list">
                    <a href="" class="introductions-current-highlighted" >John Smith
                    </a>
                    <span class="introductions-others">, +12 others</span>
                </div>
            <!--LOOP END-->
            </div><!--introductions-asked END-->

            <!-- YOU INTRODUCED -->
            <div class="you-introduced">
                <div class="introductions-row-container">
                    <!--LOOP START-->
                    <div class="introductions-row">
                        <div class="introductions-list">
                            <a href="" class="introductions-current-highlighted" >John Smith
                            </a>
                            <span class="introductions-others">, +12 others</span>
                        </div>

                        <button class="introductions-message-button">Message</button>
                    </div>
                </div>
            </div>
            
        </div><!-- introductions-row END -->
        <!--LOOP END-->
        
    </div><!-- introductions-rows END-->

</div><!--container end-->

{% endblock %}