{% extends 'base_admin.html' %}

{% block content%}

    <div class="search-container">
        <div class="filters-button-container">
            <a href="{{ url_for('save_to_list_method') }}"></a>
            <button class="save-to-list" >Save to Lists</button>
            </a>
            <div class="three_filters">
                <!--Filters for G E O G R A P H Y-->
                    <div class="filters_geography">
                        <div class="filternameOutterDiv"><div class="filternameInnerDiv"><p class="filterNameParagraph">Geography</p></div>
                        </div>
                            <div class="filter-list_geography">
                                <!-- Filter options will be added here -->
                            </div>
                        <div class="scrollable-options">
                            <input type="text" class="search-bar_geography" placeholder="Search...">
                            <div class="options">

                                {% for geography in geography_data %}
                                <div class="option_geography">
                                    <span tabindex="-1">{{ geography[0] }}</span>
                                    <div class="button_group_geography">
                                        <button class="include_geography" tabindex="-1">Include</button>
                                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                                        <button class="exclude_geography" tabindex="-1">Exclude</button>
                                    </div>
                                </div>
                            {% endfor %}

                            </div>
                        </div>
                    </div>
                <!--Filters for COMPANY H E A D C O U N T -->
                    <div class="filters_headcount">
                        <div class="filternameOutterDiv"><div class="filternameInnerDiv"><p class="filterNameParagraph">Headcount</p></div></div>
                            <div class="filter-list_headcount">
                                <!-- Filter options will be added here -->
                            </div>
                        <div class="scrollable-options">
                            <input type="text" class="search-bar_headcount" placeholder="Search...">
                            <div class="options">

                                {% for headcount in headcount_data %}
                                <div class="option_headcount">
                                    <span tabindex="-1">{{ headcount[0] }}</span>
                                    <div class="button-group_headcount">        
                                        <button class="include_headcount" tabindex="-1">Include</button>
                                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                                        <button class="exclude_headcount" tabindex="-1">Exclude</button>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                
                <!--Filters for F U N C T I O N -->
                    <div class="filters_function">
                        <div class="filternameOutterDiv"><div class="filternameInnerDiv"><p class="filterNameParagraph">Function</p></div></div>
                            <div class="filter-list_function">
                                <!-- Filter options will be added here -->
                            </div>
                        <div class="scrollable-options">
                            <input type="text" class="search-bar_function" placeholder="Search...">
                            <div class="options">

                                {% for function in function_data %}
                                <div class="option_function">
                                    <span tabindex="-1">{{ function[0] }}</span>
                                    <div class="button_group_function">        
                                        <button class="include_function" tabindex="-1">Include</button>
                                        <button class="middlepartButton" tabindex="-1" style="margin: 0; padding: 0;">|</button>
                                        <button class="exclude_function" tabindex="-1">Exclude</button>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div> <!-- Three FIlters -->
        </div> <!-- Filters Button Container -->

<!--------------------------------TABELA--------------------------------->
        <div class="search-table-div" style="margin-left: 300px;">
            <table class="search-table-content">
                    <tr>
                        <th>Name</th>
                        <th>Title</th>
                        <th>Company</th>
                        <th>Region</th>
                        <th>Company Size</th>
                        <th>Function</th>
                        <th>Product Bought</th>
                        <th>Email</th>
                    </tr>
                    {% for user in filtered_data %}
                    <tr>
                        <td>{{ user[1] }}</td>
                        <td>{{ user[2] }}</td>
                        <td>{{ user[3] }}</td>
                        <td>{{ user[4] }}</td>
                        <td>{{ user[5] }}</td>
                        <td>{{ user[6] }}</td>
                        <td>{{ user[7] }}</td>
                        <td>{{ user[8] }}</td>
                    </tr>
                    {% endfor %}
            </table>        
        </div>

    </div>


{% endblock %}