{% extends 'base_admin.html' %}

{% block content%}

<button class="back-button" onclick = "window.history.back()"> &#x1F878; </button>
{% include 'navbars/navbarProfile.html' %}

<div class="notifications-container">

    <!--EMAIL-->
    <div class="notification-box-container">
        <h5>Email Notifications</h5>
        <div class="category-container" id="email-notifications">
            <label class="checkbox-container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                &nbspNew Connections
            </label>
            <label class="checkbox-container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                &nbspNew Backchannels Set Up
            </label>
            <label class="checkbox-container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                &nbspNew Potential Champions
            </label>
            <label class="checkbox-container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                &nbspCredits Low
            </label>
            <label class="checkbox-container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                &nbspCredits Earned
            </label>
        </div>
    </div>

    <!--InApp-->
    <div class="notification-box-container">
        <h5>InApp Notifications</h5>
        <div class="category-container" id="inapp-notifications">
            <label class="checkbox-container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                &nbspNew Connections
            </label>
            <label class="checkbox-container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                &nbspNew Backchannels Set Up
            </label>
            <label class="checkbox-container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                &nbspNew Potential Champions
            </label>
            <label class="checkbox-container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                &nbspCredits Low
            </label>
            <label class="checkbox-container">
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
                &nbspCredits Earned
            </label>
        </div>
    </div>

    <!--Sound-->
    <div class="notification-box-container">
        <h5>Sound Notifications</h5>
        <div class="category-container" id="sound-notifications">
            <label class="checkbox-container">
                <input type="checkbox">
                <span class="checkmark"></span>
                &nbspNew Connections
            </label>
            <label class="checkbox-container">
                <input type="checkbox">
                <span class="checkmark"></span>
                &nbspNew Backchannels Set Up
            </label>
            <label class="checkbox-container">
                <input type="checkbox">
                <span class="checkmark"></span>
                &nbspNew Potential Champions
            </label>
            <label class="checkbox-container">
                <input type="checkbox">
                <span class="checkmark"></span>
                &nbspCredits Low
            </label>
            <label class="checkbox-container">
                <input type="checkbox">
                <span class="checkmark"></span>
                &nbspCredits Earned
            </label>
        </div>
    </div>

</div>
{% endblock %}