<link rel="stylesheet" href="{{ url_for('static',
filename = 'css/navbar.css') }}">

<nav class="navbar_admin">

    <div></div>

    <div class="navbar_admin_list">
      <ul>
        <li><a class="nav-link" href="{{ url_for('search') }}">Search</a></li>
        <li><a class="nav-link" href="{{ url_for('feed') }}">Feed</a></li>
        <li><a class="nav-link" href="{{ url_for('introduction') }}">Introduction</a></li>
        <li><a class="nav-link" href="{{ url_for('lists') }}">Lists</a></li>
        <li><a class="nav-link" href="{{ url_for('admin') }}">Admin</a></li>
        <li><a class="nav-link" href="{{ url_for('credits') }}">Credits</a></li>
      </ul>
    </div>
    
    <button class="admin_profile_button">
      <a href="" class="admin_profile_name"></a>
        <!-- <img src="/static/images/user_icon.png" alt=""> -->
        <p>John Smith</p>
      </a>
    </button>
</nav>