<link rel="stylesheet" href="{{ url_for('static',
filename = 'css/navbar.css') }}">

<nav class="navbar_admin">
      <ul class="navbar_admin_list">
        <li><a class="nav-link" href="{{ url_for('search') }}">Search</a></li>
        <li><a class="nav-link" href="{{ url_for('feed') }}">Feed</a></li>
        <li><a class="nav-link" href="{{ url_for('introduction') }}">Introduction</a></li>
        <li><a class="nav-link" href="{{ url_for('lists') }}">Lists</a></li>
        <li><a class="nav-link admin_visibility" href="{{ url_for('admin') }}">Admin</a></li>
        <li>
            <div class="admin_credits">
              <a class="nav-link admin_credits" href="{{ url_for('credits') }}">
                <img src="../static/images/credits_icon.png" alt="">
                <p>Credits 5!</p>
              </a>
            </div>
        </li>
      </ul>

      <a class="image_anchor" href="{{ url_for('user', name='User') }}">
        <img src="{{ session['user_profile_picture'] }}" alt="profile_picture" class="profile-picture">
        <p>{{ session['user_name'] }}</p>
    </a>
    
</nav>