<link rel="stylesheet" href="{{ url_for('static',
filename = 'css/navbar.css') }}">

<nav class="navbar_admin">

    <div></div>

    <div class="navbar_admin_list">
      <ul>
        <li><a class="nav-link" href="#">Search</a></li>
        <li><a class="nav-link" href="#">Feed</a></li>
        <li><a class="nav-link" href="#">Introduction</a></li>
        <li><a class="nav-link" href="#">Lists</a></li>
        <li><a class="nav-link" href="#">Admin</a></li>
        <li><a class="nav-link" href="#">Credits</a></li>
      </ul>
    </div>
    
    <div class="admin_profile">
        <img src="" alt="Profile Picture">
        <a href="#" class="admin_profile_name"></a>
    </div>
</nav>